@import "normalizer.css";

* {
    text-decoration: none;
}

.box {
    width: 1280px;
    margin: 0 auto;
}

header {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 48px;
    margin-top: 63px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 .letter {
     font-weight: 400;
     font-size: 80px;
     line-height: 94px;
     display: flex;
     cursor: pointer;
     margin-bottom: 38px;
 }
 .letter:hover {
     text-decoration: underline;
     color: #4BCAFF;
 }

.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #35444F;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.top-menu li {
    border-left: 1px solid #fff;
}

.top-menu li:last-child {
    border-right: 1px solid #fff;
}

.top-menu li a {
    display: block;
    padding: 26px 32px;
    color: white;
    size: 24px;
    line-height: 28px;
}

.top-menu li:hover {
    color: #4BCAFF;
    background-color: #222F3A;
}

aside {
    max-width: 344px;
    min-width: 344px;
    margin-right: 52px;
    border: 1px solid #9F9F9F;
}

aside ul li a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 27px;/
    line-height: 27px;
    color: #485863;
    padding: 27px;
    display: block;
}

aside ul li a:hover {
    color: #000000;
    background: #DBDBDB;
    padding: 27px 27px 27px 45px;
}

.img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9F9F9F;
    min-height: 529px;
    margin-bottom: 37px;
}

.img {
    transition: transform 0.30s;
}

.img-block:hover .img {
    transform: scale(1.1);
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.text1 {
    margin-bottom: 34px;
}

.text2 {
    margin-bottom: 54px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu li a {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    line-height: 28px;
    display: block;
    color: #0C1927;
}

.footer-menu li {
    margin-right: 40px;
}

.footer-menu li a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer p {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 24px;
}


